{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Hybrid Encryption</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t2.value.length==0)
	{
	alert("Please enter message");
	formObj.t2.focus();
	return false;
	}
	if(formObj.t3.value.length==0)
	{
	alert("Please choose number of chunks");
	formObj.t3.focus();
	return false;
	}
	if(formObj.t4.value.length==0)
	{
	alert("Please upload image");
	formObj.t4.focus();
	return false;
	}
	
	return true;
	}
	</script>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<span><font size="4" color="white" align="left"><br/>Blockchain Steganography using Hybrid Encryption


</center></span>
		
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="{% url 'UploadImage' %}"><font size="3" color="white">Upload Image</a></li>
			<li><a href="{% url 'HybridEncryption' %}"><font size="3" color="white">Hybrid Encryption & Steganography</a></li>
			<li><a href="{% url 'KeyVerification' %}"><font size="3" color="white">Key Verification</a></li>
			<li><a href="{% url 'DataDecryption' %}"><font size="3" color="white">Data Decryption</a></li>
			<li><a href="{% url 'index' %}"><font size="3" color="white">Logout</a></li>
		</ul>	
		
	</div>
	
</div>

<div id="wrapper">
	<!-- start page -->
	<div id="page">
		 
		 <form name="f1" method="post" action="{% url 'UploadImageAction' %}" enctype="multipart/form-data" OnSubmit="return validate(this)">
	{% csrf_token %}
		<!-- start content -->
		<div id="content">
		<div class="flower"><img src="{% static 'images/tra.jpg' %}" alt="" width="600" height="200" /></center></div>
			<br/><br/>
			<div class="flower"><center><h1>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Image Upload Page<h1></div>
			<br/>
		
			
		<center><font face="verdana" color="blue">{{ data|safe }}</center></font>
	
		
			<table align="center">
			{{ data1|safe}}
<tr><td><font size="3" color="black">Message&nbsp;to&nbsp;Hide</td><td><input type="text" name="t2" size="70"/></td></tr>
<tr><td><font size="3" color="black">Number&nbsp;of&nbsp;Chunks</td><td><input type="text" name="t3" size="15"/> 
<tr><td><font size="3" color="black">Upload&nbsp;Image</td><td><input type="file" name="t4" size="15"/> 

</td></tr>
<tr><td></td><td><input type="submit" value="Submit"></td>
</td></tr></table></form>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


